
.header {
  background-color: #333;
  /* padding: 1rem; */
  
  align-items: center;
  justify-content: space-between;
}

.header, .nav-container {
  display: flex;
  flex-direction: row;
}

.nav-container {
  gap: 1rem;
}

.nav-item{
  display: flex;
  text-align: center;
  
  padding: 32px 8px;
}

.nav-item, a {
  color: white;
  text-decoration: none;
  /* padding: 0.5rem; */
}


 a:hover {
  background-color: #414141;
}

